<nav class="navbar navbar-dark bg-dark" style="color: white;">
  <h1>Cocktailinho: </h1>
  <i class="fas fa-glass-cheers" style="font-size: 40px"></i>
</nav>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>');">
  <div class="container">
    <h1> <strong><%= @cocktail.name %></strong>!</h1>
    <% @cocktail.doses.each do |dose| %>
    <p><%= dose.ingredient.name %></p>
    <p><%= dose.description%></p>
    <p> <%= link_to cocktail_dose_path(dose), method: :delete do %></p>
      <i class="far fa-trash-alt" style="font-size: 20px;"></i>
      <% end  %>
    <% end  %>
      <p><%= link_to new_cocktail_dose_path(@cocktail), method: :get do %></p>
      <i class="fas fa-plus-circle" style="font-size: 20px;"></i>
      <p><%= link_to 'Back to cocktails', cocktails_path  %></p>
    <% end %>
  </div>
</div>


